@model IEnumerable<_04_Data.editorial>

@{
    ViewBag.Title = "Index";
}

<!-- Start banner Area -->
<section class="generic-banner">
    <div class="container">
        <div class=@*"row height align-items-center justify-content-center"*@>
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">EDITORIAL</h2>
                    <p class="text-white">Las editoriales de los libros</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">

        <div class="section-top-border">
            <div class="row">


                <div class="container md-2">
                    <div class="button-group-area mt-40">
                        <span class="genric-btn success circle mb-30">@Html.ActionLink("Crear nueva Editorial", "Create")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-defination">
                            <h4 class="mb-20">


                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.nombre)
                                        </th>
                                        <th></th>
                                    </tr>
                            </h4>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                                @Html.ActionLink("Borrar", "Delete", new { id = item.id }) |
                                @Html.ActionLink("Editorial del Libro", "Index", "editorial_libro", new { id = item.id, editorial = true }, null)
                            </td>
                        </tr>
                    }

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- End Align Area -->