@model _04_Data.lector_libro

@{
    ViewBag.Title = "Details";
}

}

<h2>Details</h2>

<div>
    <h4>lector_libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.resenya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resenya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntuacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntuacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lector.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lector.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.libro.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libro.nombre)
        </dd>

    </dl>
</div>
@{
    string onClickAnterior = "lector_libro(" + Model.id + "," + 0 + ")";
    string onClickSiguiente = "lector_libro(" + Model.id + "," + 1 + ")";
}
<input type="button" value="Anterior" onclick=@onClickAnterior>
<input type="button" value="Siguiente" onclick=@onClickSiguiente>